body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: cursive;
    background-color: #000;
}

#parent {
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tictactoeDiv {
    padding: 30px;
    height: 82%;
}

@media (max-width: 216px) {
    .tictactoeDiv {
        padding: 15px;
        height: 74%;
    }
}

.buttonTopic {
    width: 12%;
    height: auto;
}

.playerDiv {
    padding-bottom: 30px;
    text-align: center;
}

.player {
    font-size: 47px;
    color: rgba(227, 227, 227, 1);
}

.playerP {
    color: rgba(173, 173, 173, 1);
    font-size: 22px;
    height: 30px;
}

@media (max-width: 362px) {
    .player {
        font-size: 37px;
    }

    .playerP {
        font-size: 16px;
    }
}

@media (max-width: 276px) {
    .player {
        font-size: 28px;
    }

    .playerP {
        font-size: 12px;
        height: 13px;
    }
}

@media (max-width: 216px) {
    .player {
        font-size: 21px;
    }

    .playerP {
        font-size: 11px;
        height: 13px;
    }
}

.cellDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

@media (max-width: 328px) {
    .cellDiv {
        gap: 6px;
    }
}

.cell {
    width: 100%;
    position: relative;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.button {
    width: 0;
    padding-top: 30px;
    height: auto;
}