body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: cursive;
}

.displayNone {
  display: none;
}

#parent {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startPlayDiv {
  position: absolute;
  top: 41%;
  width: 72vw;
  height: 41vh;
}

.inputName {
  width: 50%;
  height: 9vh;
  padding: 5px;
  background-color: rgba(128, 128, 128, 1);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 7vh;
  text-align: center;
}

.dark .inputName {
  background-color: grey;
}

.buttonCreateRoom,
.buttonJoinRoom {
  width: 21%;
  height: 7vh;
  font-size: 3vh;
  position: absolute;
  border: none;
  border-radius: 5px;
}

.buttonCreateRoom {
  top: 41%;
  right: 26%;
  background-color: rgba(0, 166, 130, 1);
}

.buttonJoinRoom {
  top: 41%;
  left: 26%;
  background-color: rgba(255, 176, 72, 1);
}

.dark {
  background-color: black;
}

.tictactoeDiv {
  padding: 30px;
  height: 66%;
}

@media (max-width: 216px) {
  .tictactoeDiv {
    padding: 15px;
  }
}

.buttonTopic {
  position: absolute;
  top: 7%;
  background-image: url(/img/buttonTopic.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 11%;
  height: 7%;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;

}

.dark .buttonTopic {
  background-image: url(/img/darkButtonTopic.svg);
  background-color: black;
}

.playerDiv {
  width: 41vh;
  padding: 2% 0;
  text-align: center;
}

.player {
  font-size: 7vh;
}

.dark .player {
  color: rgba(227, 227, 227, 1);
}

.win .player {
  color: rgba(70, 163, 255, 1);
}

.playerP {
  color: rgba(173, 173, 173, 1);
  font-size: 4vh;
  height: 7vh;
}

.cellDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  max-height: 60vh;
}

@media (max-width: 328px) {
  .cellDiv {
    gap: 6px;
    width: 86vw;
  }
}

@media (max-height: 463px) {
  .cellDiv {
    gap: 6px;
  }
}

.cell {
  background-image: url(/img/empty-block.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
}

.dark .cell {
  background-image: url(/img/empty-darkBlock.svg);
  background-color: black;
}

.stepX {
  background-image: url(/img/full-block-X.svg);
}

.dark .stepX {
  background-image: url(/img/full-darkBlock-X.svg);
}

.stepO {
  background-image: url(/img/full-block-O.svg);
}

.dark .stepO {
  background-image: url(/img/full-darkBlock-O.svg);
}

@media (max-width: 550px) and (min-height: 465px) {
  .tictactoeDiv {
    padding: 10px;
  }

  .playerDiv {
    width: 75vw;
  }

  .player {
    font-size: 11vw;
  }

  .playerP {
    font-size: 4vw;
  }

  .startPlayDiv {
    width: 72vw;
    height: 41vh;
  }

  .inputName {
    font-size: 6vw;
    height: 9vw;
  }

  .buttonJoinRoom,
  .buttonCreateRoom {
    height: 5vw;
    font-size: 2vw;
  }
}