body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: cursive;
}

.displayNone {
  display: none;
}

#parent {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255 255 255);
}

.message {
  position: absolute;
  width: 71%;
  height: 10%;
  top: 30%;
  left: 15%;
  font-size: 6vh;
}

.dark .messageDiv {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.messageURL {
  position: absolute;
  width: 65%;
  height: 19%;
  top: 46%;
  font-size: 2vh;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.641);
}

.dark .messageURL {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.633);
}

.errorMessage {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 100vh;
  font-size: 6vh;
  color: white;
  background-color: rgba(243, 112, 112, 0.84);
}

.roomNameInputDiv {
  position: absolute;
  top: 41%;
  width: 72vh;
  height: 41vh;
}

.nameInput {
  width: 85%;
  height: 9vh;
  padding: 5px;
  outline: none;
  border: 2px black solid;
  border-radius: 10px;
  color: dark;
  font-size: 7vh;
  text-align: center;
}

.dark .nameInput {
  background-color: rgba(255, 255, 255, 0);
  border: 2px rgba(255, 255, 255, 0.665) solid;
  color: white;
}

.nameInputEnter {
  width: 50%;
  height: 8vh;
  font-size: 3vh;
  position: absolute;
  border: none;
  border-radius: 5px;
  top: 41%;
  right: 26%;
  background-color: rgba(0, 166, 130, 1);
}

.dark {
  background-color: black;
}

.tictactoeDiv {
  padding: 30px;
  height: 66%;
}

@media (max-width: 216px) {
  .tictactoeDiv {
    padding: 15px;
  }
}

.buttonTopic {
  position: absolute;
  top: 7%;
  background-image: url(/img/buttonTopic.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 11%;
  height: 7%;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
  z-index: 2;
}

.dark .buttonTopic {
  background-image: url(/img/darkButtonTopic.svg);
  background-color: black;
}

.buttonNullifyUser {
  position: absolute;
  top: 8%;
  right: 14%;
  background-image: url(/img/ios-close.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4%;
  height: 3%;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
  z-index: 2;
}

.dark .buttonNullifyUser {
  background-image: url(/img/ios-close-dark.png);
  background-color: black;
}

.playerDiv {
  width: 41vh;
  padding: 2% 0;
  text-align: center;
}

.player {
  font-size: 7vh;
}

.dark .player {
  color: rgba(227, 227, 227, 1);
}

.win .player {
  color: rgba(70, 163, 255, 1);
}

.playerP {
  color: rgba(173, 173, 173, 1);
  font-size: 4vh;
  height: 7vh;
}

.cellDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  max-height: 60vh;
}

@media (max-width: 328px) {
  .cellDiv {
    gap: 6px;
    width: 86vw;
  }
}

@media (max-height: 463px) {
  .cellDiv {
    gap: 6px;
  }
}

.cell {
  background-image: url(/img/empty-block.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
}

.dark .cell {
  background-image: url(/img/empty-darkBlock.svg);
  background-color: black;
}

.stepX {
  background-image: url(/img/full-block-X.svg);
}

.dark .stepX {
  background-image: url(/img/full-darkBlock-X.svg);
}

.stepO {
  background-image: url(/img/full-block-O.svg);
}

.dark .stepO {
  background-image: url(/img/full-darkBlock-O.svg);
}

@media (max-width: 550px) and (min-height: 465px) {
  .tictactoeDiv {
    padding: 10px;
  }

  .playerDiv {
    width: 75vw;
  }

  .player {
    font-size: 11vw;
  }

  .playerP {
    font-size: 4vw;
  }

  .roomNameInputDiv {
    width: 72vw;
    height: 41vw;
  }

  .nameInput {
    font-size: 6vw;
    height: 9vw;
  }

  .nameInputEnter {
    height: 5vw;
    font-size: 2vw;
  }

  .message {
    font-size: 6vw;
  }

  .messageURL {
    font-size: 2vw;
  }

  .errorMessage {
    padding-top: 100vw;
    font-size: 7vw;
  }
}